[submodule "bundles/ecore2log"]
	path = bundles/ecore2log
	url = https://github.com/kit-sdq/Ecore2Log
[submodule "bundles/confidentiality4cbse"]
	path = bundles/confidentiality4cbse
	url = https://github.com/KASTEL-SCBS/Confidentiality4CBSE
