<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--<extension 
	  point="org.eclipse.ui.handlers">
     <handler
           class="edu.kit.kastel.scbs.pcm2prologxsb.commands.CreateprologxsbHandler"
           commandId="edu.kit.kastel.scbs.pcm2prologxsb.commands.createprologxsb">
     </handler>
  </extension>-->

</plugin>
