<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!--<extension 
	  point="org.eclipse.ui.handlers">
     <handler
           class="edu.kit.kastel.scbs.pcm2prologxsb.commands.CreateprologxsbHandler"
           commandId="edu.kit.kastel.scbs.pcm2prologxsb.commands.createprologxsb">
     </handler>
  </extension>-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.kit.kastel.scbs.pcm2prologxsb.handler.PCM2PrologXSBHandler"
            id="edu.kit.kastel.scbs.pcm2prologxsb.commands.createprologxsb"
            name="Create Prolog XSB Code">
         <commandParameter
               id="edu.kit.kastel.scbs.pcm2prologxsb.generateCommentsParameter"
               name="generateComments"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.kit.kastel.scbs.pcm2prologxsb.groupFactsParameter"
               name="groupFacts"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.kit.kastel.scbs.pcm2prologxsb.simplifyIDsParameter"
               name="simplifyIDs"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.kit.kastel.scbs.pcm2prologxsb.concatOutputToSingleFileParameter"
               name="concatOutputToSingleFile"
               optional="true">
         </commandParameter>
         <commandParameter
               id="edu.kit.kastel.scbs.pcm2prologxsb.generateDescriptions"
               name="generateDescriptions"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="edu.kit.kastel.scbs.pcm2prologxsb.beforeseparator"
               visible="true">
         </separator>
         <menu
               id="kastelArchAnalysis"
               label="KASTEL Architecture Analysis">
            <command
                  commandId="edu.kit.kastel.scbs.pcm2prologxsb.commands.createprologxsb"
                  label="Create Prolog XSB Code (comments,ungrouped,simpleIDs,multiFiles,desc)"
                  style="push"
                  tooltip="Create Prolog XSB Code for Architectural Confidentiality Analysis">
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.generateCommentsParameter"
                     value="true">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.groupFactsParameter"
                     value="false">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.simplifyIDsParameter"
                     value="true">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.concatOutputToSingleFileParameter"
                     value="false">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.generateDescriptions"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="edu.kit.kastel.scbs.pcm2prologxsb.commands.createprologxsb"
                  label="Create Prolog XSB Code (no comments,grouped,simpleIDs,singleFile,desc)"
                  style="push"
                  tooltip="Create Prolog XSB Code for Architectural Confidentiality Analysis">
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.generateCommentsParameter"
                     value="false">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.groupFactsParameter"
                     value="true">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.simplifyIDsParameter"
                     value="true">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.concatOutputToSingleFileParameter"
                     value="true">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.generateDescriptions"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="edu.kit.kastel.scbs.pcm2prologxsb.commands.createprologxsb"
                  label="Create Prolog XSB Code (no comments,grouped,fullIDs,singleFile,nodesc)"
                  style="push"
                  tooltip="Create Prolog XSB Code for Architectural Confidentiality Analysis">
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.generateCommentsParameter"
                     value="false">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.groupFactsParameter"
                     value="true">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.simplifyIDsParameter"
                     value="false">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.concatOutputToSingleFileParameter"
                     value="true">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.generateDescriptions"
                     value="false">
               </parameter>
            </command>
            <command
                  commandId="edu.kit.kastel.scbs.pcm2prologxsb.commands.createprologxsb"
                  label="Create Prolog XSB Code (comments,ungrouped,fullIDs,multiFiles,desc)"
                  style="push"
                  tooltip="Create Prolog XSB Code for Architectural Confidentiality Analysis">
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.generateCommentsParameter"
                     value="true">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.groupFactsParameter"
                     value="false">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.concatOutputToSingleFileParameter"
                     value="false">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.generateDescriptions"
                     value="true">
               </parameter>
               <parameter
                     name="edu.kit.kastel.scbs.pcm2prologxsb.simplifyIDsParameter"
                     value="false">
               </parameter>
            </command>            
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
				       <adapt type="org.eclipse.core.resources.IResource">
              <or>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.repository">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.system">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.resourceenvironment">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.allocation">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.confidentiality">
                 </test>
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.adversary">
                 </test>
              </or>
				       </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
         <separator
               name="edu.kit.kastel.scbs.pcm2prologxsb.afterseparator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>
